@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
body {
  color: #3E3E3E;
  line-height: 1.5;
  font-family: "游ゴシック体", sans-serif;
  background-color: #F3F3F3;
}

img {
  width: 100%;
  height: auto;
}

a:hover {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2em;
  display: block;
}

.main_img {
  background: url(../img/mv@2x.png) no-repeat center center/cover;
  max-width: 1800px;
  width: 100%;
  height: 648px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .main_img {
    background-position: 22% center;
    height: 668px;
  }
}

header {
  background: rgba(255, 255, 255, 0.1019607843);
  width: 100%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  header {
    display: none;
  }
}

.header_nav-menu {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 40px;
}

.header_nav-menu li:first-child {
  margin-left: 10px;
}

.header_nav-menu li a {
  position: relative;
}
.header_nav-menu li a::after {
  position: absolute;
  bottom: -6px;
  left: 0px;
  content: "";
  width: 100%;
  height: 1px;
  background: #3E3E3E;
  transform: scale(0, 1);
  transition: transform 0.3s;
  transform-origin: center;
}
.header_nav-menu li a:hover::after {
  transform: scale(1, 1);
}

.nav_list {
  font-family: "Montserrat", sans-serif;
  color: #3E3E3E;
  font-weight: 500;
}

.header_sp {
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding: 16px 16px;
  display: none;
}
@media (max-width: 767px) {
  .header_sp {
    display: block;
  }
}

.header_sp-logo {
  color: #3E3E3E;
  font-family: "Montserrat", sans-serif;
  font-size: 23px;
  font-weight: 700;
  display: none;
}
@media (max-width: 767px) {
  .header_sp-logo {
    display: block;
  }
}

.drawer_icon {
  position: absolute;
  top: 24px;
  right: 16px;
  z-index: 300;
  display: none;
  transition: 0.5s ease;
}
@media (max-width: 767px) {
  .drawer_icon {
    display: block;
  }
}
.drawer_icon.is_active {
  transform: translateX(-280px);
}
.drawer_icon.is_active .drawer_icon-bar1 {
  transform: rotate(-45deg);
  top: 8px;
  background-color: #FEFEFE;
}
.drawer_icon.is_active .drawer_icon-bar2 {
  opacity: 0;
}
.drawer_icon.is_active .drawer_icon-bar3 {
  transform: rotate(45deg);
  top: 8px;
  background-color: #FEFEFE;
}

.drawer_icon-bars {
  width: 25px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer_icon-bar1,
.drawer_icon-bar2,
.drawer_icon-bar3 {
  position: absolute;
  width: 25px;
  height: 4px;
  border-radius: 20%;
  background-color: #3E3E3E;
  top: 0;
  left: 0;
  transition: 0.5s ease;
}

.drawer_icon-bar1 {
  top: 0;
}

.drawer_icon-bar2 {
  top: 8px;
}

.drawer_icon-bar3 {
  top: 16px;
}

.drawer_content {
  width: 300px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease;
}
.drawer_content.is_active {
  transform: translateX(0);
}

.drawer_content-items {
  margin: 161px 0 0;
  text-align: center;
}

.drawer_content-item a {
  display: block;
  color: #707070;
  padding: 18px 20px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.drawer_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 298;
  display: none;
}
.drawer_background.is_active {
  display: block;
}

.main {
  max-width: 1240px;
  width: 100%;
  z-index: 100;
  margin: 0 auto;
}

.main_group {
  margin: 153px 20px 0 auto;
  max-width: 600px;
  padding-right: 20px;
}
@media (max-width: 767px) {
  .main_group {
    margin-top: 0;
    padding: 220px 16px 0;
    width: 100%;
  }
}

.main_title {
  font-size: 32px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .main_title {
    font-size: 24px;
  }
}

.main_text {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .main_text {
    font-size: 14px;
    margin-top: 32px;
  }
}

.main_contact {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  margin-top: 40px;
  background: #FFAA3B;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.16);
  transition: 0.3s ease 0s;
  width: 282px;
  text-align: center;
  line-height: 48px;
  height: 48px;
  letter-spacing: 0.07em;
}
@media (max-width: 767px) {
  .main_contact {
    margin: 30px auto 0;
    display: block;
  }
}
.main_contact:hover {
  background: #F18900;
  transition: 0.3s ease 0s;
}

.news {
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  margin: 120px auto;
}
@media (max-width: 767px) {
  .news {
    margin: -40px 16px 0;
    width: auto;
  }
}

.section_title {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  margin: 60px 0;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  .section_title {
    margin: 40px 0 30px;
    font-size: 30px;
  }
}

.news_contents-group {
  display: flex;
  padding: 34px 0;
  align-items: center;
  margin: 0 60px;
  border-bottom: solid #f0f0f0;
  transition: background 0.5s ease 0s;
}
.news_contents-group:hover {
  background: rgba(73, 115, 255, 0.1019607843);
  opacity: 1;
}
@media (max-width: 767px) {
  .news_contents-group {
    flex-wrap: wrap;
    padding: 12px 0 12px 12px;
    margin: 0;
  }
}

.news_contents-group:first-of-type {
  border-top: solid #f0f0f0;
}

.news_date {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .news_date {
    font-size: 14px;
    margin: 0;
  }
}

.news_label {
  padding: 4px 32px;
  border: 2px solid #4973FF;
  background: #FFF;
  border-radius: 50px;
  font-size: 14px;
  margin-left: 40px;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  .news_label {
    padding: 0 15px;
    font-size: 12px;
    margin-left: 20px;
  }
}

.news_text {
  width: 58%;
  margin-left: 40px;
  letter-spacing: 0.1em;
  font-size: 18px;
}
@media (max-width: 767px) {
  .news_text {
    width: 90%;
    font-size: 14px;
    margin: 8px 0 0;
    letter-spacing: -0.1em;
  }
}

.news_arrow {
  background: url(../img/news-arrow@2x.png) no-repeat center center/contain;
  width: 11px;
  height: 23px;
  margin-left: auto;
  margin-right: 16px;
}

.news_btn {
  margin: 40px auto;
  height: 64px;
  border: solid #707070;
  width: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease 0s;
}
.news_btn:hover {
  background: #3E3E3E;
  color: #fff;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .news_btn {
    width: 268px;
    font-size: 18px;
    height: 54px;
    margin: 30px auto;
  }
}

.service {
  background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 400px, transparent 400px, transparent 100%);
}
@media (max-width: 767px) {
  .service {
    background: linear-gradient(to bottom, #3e3e3e 0, #3e3e3e 480px, transparent 480px, transparent 100%);
    margin: 60px 0 0;
  }
}

.service_title {
  color: #fff;
}
@media (max-width: 767px) {
  .service_title {
    margin: 40px 0;
  }
}

.service_box {
  background: #fff;
  max-width: 960px;
  width: 100%;
  height: 331px;
  display: flex;
  justify-content: center;
  margin: 0 auto 20px;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
}
@media (max-width: 767px) {
  .service_box {
    flex-direction: column;
    height: 680px;
    width: auto;
    margin: 0 16px 20px;
  }
}

.service_group {
  display: flex;
  flex-direction: column;
  margin: 60px 45px;
}
@media (max-width: 767px) {
  .service_group {
    margin: 16px 16px 0;
  }
}

.service_img {
  width: 50px;
  height: 50px;
  margin: 0 auto 6px;
}

.service_img1 {
  background: url(../img/service1@2x.png) no-repeat center center/contain;
}

.service_img2 {
  background: url(../img/service2@2x.png) no-repeat center center/contain;
}

.service_img3 {
  background: url(../img/service3@2x.png) no-repeat center center/contain;
}

.service_head {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .service_head {
    line-height: 1.3;
  }
}

.service_text {
  font-size: 14px;
}

.results {
  background: #3E3E3E;
  position: relative;
  max-width: calc(50vw + 600px);
  padding: 0 0 40px 16px;
  margin: 90px 0 0 auto;
}
@media (max-width: 767px) {
  .results {
    padding: 0 0 20px 16px;
  }
}
.results .swiper-pagination {
  position: absolute;
  bottom: 145px;
  text-align: start;
  padding-left: 50px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .results .swiper-pagination {
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
    bottom: 108px;
  }
}

.results_title {
  color: #fff;
  display: inline-block;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .results_title {
    display: block;
    text-align: center;
    padding: 40px 0;
    margin: 0;
  }
}

.results_box {
  width: 400px;
  height: 366px;
}
@media (max-width: 767px) {
  .results_box {
    width: 274px;
    height: 254px;
    margin-bottom: 20px;
  }
}

.results_img1 {
  background: url(..//img/slide1@2x.png) no-repeat center center/contain;
  width: 100%;
  height: 250px;
}
@media (max-width: 767px) {
  .results_img1 {
    height: 171px;
  }
}

.results_content {
  background: #fff;
  width: 100%;
}

.results_head {
  font-weight: 600;
  font-size: 20px;
  padding-top: 16px;
  margin: 0px 16px 8px 16px;
}
@media (max-width: 767px) {
  .results_head {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
  }
}

.results_text {
  margin: 8px 16px 0px;
  padding-bottom: 16px;
}
@media (max-width: 767px) {
  .results_text {
    font-size: 12px;
    margin: 0;
    padding: 0 12px 12px;
  }
}

.results_btn {
  margin: 70px auto 40px 40px;
  height: 64px;
  border: solid #fff;
  color: #fff;
  width: 289px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease 0s;
}
.results_btn:hover {
  background: #fff;
  color: #3E3E3E;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .results_btn {
    width: 100%;
    max-width: 316px;
    font-size: 18px;
    height: 54px;
    margin: 40px auto 20px;
  }
}

.swiper {
  width: 100%;
  padding-bottom: 28px;
}
@media (max-width: 767px) {
  .swiper {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .swiper-slide {
    width: 294px;
  }
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  padding-left: 40px;
}
@media (max-width: 767px) {
  .swiper-wrapper {
    padding: 0;
  }
}

.swiper-pagination-bullet {
  background-color: #3E3E3E;
  height: 20px;
  width: 20px;
  position: relative;
  opacity: 1;
}
.swiper-pagination-bullet::after {
  content: "";
  background: #fff;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.swiper-pagination-bullet-active {
  background-color: #3E3E3E;
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: relative;
}
.swiper-pagination-bullet-active::after {
  content: "";
  background: #fff;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
}

.price_title {
  margin: 90px auto 45px;
}

.price_table {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .price_table {
    width: auto;
    margin: 0 16px;
  }
}

.price_table-group {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  width: 100%;
}
.price_table-group th,
.price_table-group td {
  height: 36px;
  vertical-align: middle;
  font-weight: 600px;
}
@media (max-width: 767px) {
  .price_table-group th,
.price_table-group td {
    height: 50px;
    font-weight: 400;
    font-size: 20px;
  }
}
.price_table-group th {
  padding: 8px 70px;
  color: #fff;
  text-align: center;
  background: #3E3E3E;
  border: 1px solid #fff;
}
@media (max-width: 767px) {
  .price_table-group th {
    padding: 12px;
  }
}
.price_table-group td {
  width: 73%;
  padding: 12px 40px;
  background: #fff;
  border: 1px solid #707070;
  font-weight: 600;
}
@media (max-width: 767px) {
  .price_table-group td {
    padding: 0 0 0 16px;
  }
}

.price_note {
  width: 100%;
  font-size: 12px;
  margin-top: 12px;
}

.comments {
  margin-top: 120px;
  padding-bottom: 120px;
  position: relative;
}
@media (max-width: 767px) {
  .comments {
    padding-bottom: 60px;
    margin-top: 60px;
  }
}

.comments_group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments_title {
  margin: 120px 0 50px;
  text-align: start;
}
@media (max-width: 767px) {
  .comments_title {
    margin: 30px auto;
  }
}

.comments_box {
  max-width: 666px;
  width: 100%;
  height: 604px;
  background: #fff;
  padding: 0 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1607843137);
  margin-top: 11px;
}
@media (max-width: 767px) {
  .comments_box {
    width: auto;
    margin: 0 16px;
    padding: 0 20px;
    height: auto;
  }
}

.comments_contents {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  width: 100%;
}
@media (max-width: 767px) {
  .comments_contents {
    align-items: flex-start;
    margin-bottom: 40px;
  }
}

.comments_icon1 {
  background: url(..//img/comments1@2x.png) no-repeat center center/contain;
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .comments_icon1 {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

.comments_icon2 {
  background: url(..//img/comments2@2x.png) no-repeat center center/contain;
  width: 100px;
  height: 100px;
}
@media (max-width: 767px) {
  .comments_icon2 {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
}

.comments_text {
  max-width: 414px;
  width: 100%;
  margin-left: 32px;
}
@media (max-width: 767px) {
  .comments_text {
    width: 75%;
    margin: 0;
    font-size: 14px;
  }
}

.comments_img {
  background: url(..//img/comments3@2x.png) no-repeat center center/contain;
  max-width: 530px;
  width: 100%;
  height: 444px;
}
@media (max-width: 767px) {
  .comments_img {
    display: none;
  }
}

.comments_background {
  background: #3E3E3E;
  width: 76.5625%;
  height: 576px;
  z-index: -100;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
}
@media (max-width: 767px) {
  .comments_background {
    width: 100%;
    height: 88%;
  }
}

.qa {
  max-width: 1280px;
  width: 100%;
  height: 952px;
  background: url(..//img/qa-bg@2x.png) no-repeat center center/cover;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .qa {
    height: 780px;
  }
}

.qa_group {
  width: 50%;
  max-width: 612px;
  margin-left: auto;
  margin-right: 40px;
}
@media (max-width: 767px) {
  .qa_group {
    width: auto;
    margin: 0 16px;
    max-width: 100%;
  }
}

.qa_box {
  background: #fff;
  padding: 15px 16px 19px;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  border-radius: 4px;
}

.qa_box-q {
  position: relative;
  font-weight: 600;
  height: 20px;
  margin-left: 40px;
}
.qa_box-q::before {
  content: "Q";
  position: absolute;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  color: #fff;
  background: #3B69FF;
  border-radius: 50%;
  padding: 1px 6px;
}

.qa_box-q-2 {
  padding-bottom: 50px;
}

.qa_box-a {
  background: rgba(59, 105, 255, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  width: 100%;
  display: none;
  margin-top: 16px;
}

.qa_box-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-47%);
}
.qa_box-icon.is_open .qa_box-bar2 {
  transform: rotate(90deg);
}

.qa_box-bar1 {
  width: 17px;
  height: 3px;
  background: #3B69FF;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.qa_box-bar2 {
  width: 3px;
  height: 17px;
  background: #3B69FF;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  transition: all 0.3s ease 0s;
}

.access {
  width: 100%;
  height: 640px;
}
@media (max-width: 767px) {
  .access {
    display: none;
  }
}

.access_sp {
  width: 100%;
}
@media (min-width: 768px) {
  .access_sp {
    display: none;
  }
}

.access_title {
  text-align: start;
  color: #fff;
  margin: 0;
  padding: 0 0 60px 80px;
}
@media (max-width: 767px) {
  .access_title {
    padding: 0 0 30px 16px;
  }
}

.access_group {
  position: relative;
  padding-top: 120px;
  display: flex;
}
@media (max-width: 767px) {
  .access_group {
    padding-top: 40px;
    flex-direction: column;
  }
}

.access_address {
  color: #fff;
  padding-left: 80px;
}
@media (max-width: 767px) {
  .access_address {
    padding-left: 16px;
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.access_btn {
  color: #fff;
  margin: 60px 80px;
  height: 64px;
  border: solid #fff;
  width: 236px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease 0s;
}
.access_btn:hover {
  background: #fff;
  color: #3E3E3E;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .access_btn {
    width: 339px;
    font-size: 18px;
    height: 54px;
    margin: 60px auto;
  }
}

.access_background {
  background: #3E3E3E;
  max-width: 980px;
  width: 100%;
  height: 504px;
  z-index: -100;
  position: absolute;
  top: 0;
  transform: translateX(-1.8%);
}
@media (max-width: 767px) {
  .access_background {
    transform: none;
    height: 100%;
  }
}

.access_map {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  margin-left: auto;
}
@media (max-width: 767px) {
  .access_map {
    width: auto;
    margin: 0 16px;
  }
}
.access_map iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 726px;
  height: 100%;
  max-height: 520px;
}
@media (max-width: 767px) {
  .access_map iframe {
    min-height: 241px;
    margin-bottom: 24px;
  }
}

.contact {
  width: 100%;
  max-width: 1280px;
  margin: 120px auto 0;
  height: 1122px;
  background: url(..//img/contact-bg@2x.png) no-repeat center center/cover;
}
@media (max-width: 767px) {
  .contact {
    margin: 0;
    height: auto;
  }
}

.contact_head {
  width: 100%;
  max-width: 960px;
  height: 196px;
  background: url(..//img/contact1@2x.png) no-repeat center center/cover;
  margin: 60px auto 0;
}
@media (max-width: 767px) {
  .contact_head {
    width: auto;
    margin: 40px 16px 0;
    height: 163px;
    background: url(..//img/contact_sp@2x.png) no-repeat center center/cover;
  }
}

.contact_subtitle {
  color: #fff;
  text-align: center;
}
@media (max-width: 767px) {
  .contact_subtitle {
    font-size: 14px;
    text-align: start;
    margin: 0 16px;
  }
}

.contact_title {
  color: #fff;
  margin: 0 auto;
  padding: 60px 0 10px;
}
@media (max-width: 767px) {
  .contact_title {
    padding: 38px 0 10px;
    font-size: 30px;
  }
}

.contact_bottom {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 810px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .contact_bottom {
    width: auto;
    margin: 0 16px 40px;
    height: auto;
    border-radius: 1.5%;
  }
}

.contact_form-area {
  padding: 60px 0 0 120px;
}
@media (max-width: 767px) {
  .contact_form-area {
    width: auto;
    margin: 0 10px;
    padding: 40px 0;
  }
}

@media (max-width: 767px) {
  .form_group-row div:first-child .form_group-label {
    margin-bottom: 10px;
  }
}

.form_item {
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
@media (max-width: 767px) {
  .form_item {
    flex-direction: column;
    align-items: flex-start;
  }
}

.form_group-label {
  max-width: 130px;
  width: 100%;
}

.form_group-input {
  margin-left: 60px;
  width: 100%;
}
@media (max-width: 767px) {
  .form_group-input {
    margin-left: 0;
  }
}
.form_group-input [type=text] {
  padding: 10px 16px;
  border-bottom: solid 1px #707070;
  width: 100%;
  max-width: 532px;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .form_group-input [type=text] {
    max-width: 100%;
    padding-left: 0;
  }
}
.form_group-input [type=text]:hover {
  box-shadow: 0 10px 9px -6px rgba(73, 115, 255, 0.2);
  border-bottom: solid 1px #4973FF;
  transition: 0.3s ease 0s;
}
.form_group-input [type=text]:focus {
  outline: none;
  box-shadow: 0 10px 9px -6px rgba(73, 115, 255, 0.2);
  border-bottom: solid 1px #4973FF;
  transition: 0.3s ease 0s;
}

[type=email] {
  padding: 10px 16px;
  border-bottom: solid 1px #707070;
  width: 100%;
  max-width: 532px;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  [type=email] {
    max-width: 100%;
    padding-left: 0;
  }
}
[type=email]:hover {
  box-shadow: 0 10px 9px -6px rgba(73, 115, 255, 0.2);
  border-bottom: solid 1px #4973FF;
  transition: 0.3s ease 0s;
}
[type=email]:focus {
  outline: none;
  box-shadow: 0 10px 9px -6px rgba(73, 115, 255, 0.2);
  border-bottom: solid 1px #4973FF;
  transition: 0.3s ease 0s;
}

.radio_input-wrap:first-of-type {
  margin-left: 60px;
}
@media (max-width: 767px) {
  .radio_input-wrap:first-of-type {
    margin: 0;
  }
}

.input_select {
  position: relative;
  max-width: 178px;
  width: 100%;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .input_select {
    max-width: 100%;
    width: 100%;
  }
}
.input_select:hover {
  box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
  transition: 0.3s ease 0s;
}
.input_select::before {
  content: "";
  width: 9px;
  height: 2px;
  background: #3E3E3E;
  position: absolute;
  top: 50%;
  right: 12px;
  transform: rotate(-45deg);
}
.input_select::after {
  content: "";
  width: 9px;
  height: 2px;
  background: #3E3E3E;
  position: absolute;
  top: 50%;
  right: 17px;
  transform: rotate(45deg);
}

select {
  padding: 10px 36px 10px 12px;
  cursor: pointer;
  border: solid 1px #707070;
  width: 100%;
}
@media (max-width: 767px) {
  select {
    padding: 5px 36px 5px 10px;
  }
}

.is-required {
  display: inline-block;
  position: relative;
}
.is-required::after {
  content: "必須";
  position: absolute;
  top: 0;
  right: -50px;
  font-size: 12px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #FF4646;
  text-align: center;
  border-radius: 4px;
  padding: 2px 8px;
  width: 40px;
}

.radio {
  display: flex;
}
.radio [type=radio]:checked + .radio_input-btn::after {
  display: block;
}
.radio [type=radio] {
  display: none;
}

.radio_input-btn {
  margin-left: 10px;
  display: inline-block;
  padding-left: 26px;
  margin-right: 36px;
  position: relative;
}
.radio_input-btn::before {
  content: "";
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border-radius: 50%;
}
.radio_input-btn::after {
  content: "";
  width: 6px;
  height: 6px;
  background: #3B69FF;
  position: absolute;
  left: 3px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: none;
}
.radio_input-btn:hover::before {
  box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
  transition: 0.3s ease 0s;
}
.radio_input-btn:active::before {
  background: rgba(73, 115, 255, 0.2);
  border: 1px solid #4973FF;
  transition: 0.2s ease 0s;
}

@media (max-width: 767px) {
  .form_item-message .form_group-label {
    margin-bottom: 10px;
  }
}

textarea {
  padding: 10px 16px;
  border: 1px solid #707070;
  width: 100%;
  max-width: 720px;
  height: 200px;
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  textarea {
    height: 160px;
  }
}
textarea:hover {
  box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
  transition: 0.3s ease 0s;
}
textarea:focus {
  outline: none;
  box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
  transition: 0.3s ease 0s;
}

.form_check [type=checkbox] {
  display: none;
}
.form_check span {
  display: inline-block;
  padding-left: 48px;
  margin: 36px 0;
  position: relative;
  font-size: 18px;
  font-weight: 700;
}
.form_check span:hover::before {
  box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5019607843);
  transition: 0.3s ease 0s;
}
.form_check span:active::before {
  background: rgba(73, 115, 255, 0.2);
  border: 1px solid #4973FF;
  transition: 0.2s ease 0s;
}
.form_check span::before {
  content: "";
  width: 25px;
  height: 25px;
  border: 1px solid #3E3E3E;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: 0.3s ease 0s;
}
.form_check span::after {
  content: "";
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 1px;
  transform: translateY(-50%);
  background: transparent url(../img/checkbox.png) no-repeat center center/contain;
  display: none;
}
.form_check [type=checkbox]:checked + span::after {
  display: block;
}

.contact_btn {
  display: inline-block;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0;
  padding: 14px 50px;
  background: #B2B2B2;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.16);
  transition: 0.3s ease 0s;
}
@media (max-width: 767px) {
  .contact_btn {
    display: block;
    font-size: 16px;
    margin: 0 auto;
  }
}
.contact_btn.-active {
  background: #FFAA3B;
  transition: 0.3s ease 0s;
}
.contact_btn.-active:hover {
  background: #F18900;
  transition: 0.3s ease 0s;
}

.contact-message {
  padding: 20px 0;
  display: none;
}

footer {
  background-color: #3E3E3E;
  color: #fff;
}

.footer_group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}
@media (max-width: 767px) {
  .footer_group {
    flex-direction: column;
    text-align: center;
  }
}

.footer_sns {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .footer_sns {
    justify-content: center;
    gap: 20px;
  }
}

.footer_icon2 {
  margin-left: 32px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer_item {
  margin-bottom: 24px;
}

.footer_right {
  text-align: end;
}
@media (max-width: 767px) {
  .footer_right {
    text-align: center;
  }
}

.footer_logo {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #E3E3E3;
}
@media (max-width: 767px) {
  .footer_logo {
    font-size: 32px;
    margin-bottom: 12px;
  }
}

.footer_copyright {
  color: #fff;
  opacity: 0.7;
  font-size: 12px;
}
@media (max-width: 767px) {
  .footer_copyright {
    margin-top: 12px;
  }
}

#t-scroll {
  position: fixed;
  bottom: 70px;
  right: 40px;
  width: 50px;
  height: 50px;
}
@media (max-width: 767px) {
  #t-scroll {
    bottom: 13px;
    right: 16px;
  }
}